
header {
    text-align: center;
    vertical-align: middle;
    background-color: tomato;
    font-size: xx-large;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(112, 112, 121);
    height: 100px;
    color :black;
    }

    body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: whitesmoke;
    position: relative;
    min-height: 100vh;
    margin-left: 15px;
    }
    
    h1 {
        margin-left: 20px;
    }

    h2 {
        margin-left: 20px;
    }

    #logout {
        font-style: italic;
        margin-bottom: 15px;
        margin-left: 20px;
    }
    
    table, th {
        border: 2px solid slategrey;
         text-align: center;
         margin-left: auto;
         margin-right: auto;
         font-size: large;
         margin-top: 35px;
         border-radius: 5px;
         padding: 10px;
         box-shadow: 1px 1px rgb(112, 112, 121);
    
    }
    
    footer {
           bottom : 0px;
           position: absolute;
           padding: auto;
           width: 100%;
           margin-bottom: 25px;
           
    }
    
    .logo {
         float:right;
         border-radius: 3px;
         margin-right: 35px;
         margin-top: -35px;
         display: absolute;
        
    }
    
    #theater {
        border-radius: 3px;
        
    }
    
    .navbar{
    
        margin-top: 30px;
        }