body {
  background: rgb(112, 49, 49);
  margin-top: 10px;
}

.active {
  background-color: crimson;
  color: white;
}


.errors {
  text-align: center;
}

#logo {
  width: 60px;
  display: flex;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox.collapsed .ibox-content {
  display: none;
}

.ibox:after,
.ibox:before {
  display: table;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;

}

.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #c4c4c4;
}

.ibox-tools {
  display: block;
  float: none;
  margin-top: 0;
  position: relative;
  padding: 0;
  text-align: right;
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

video {
  width: 100% !important;
  height: auto !important;
}

textarea {
  width: 600px;
  background-color: #fff;
  resize: none;
}


.comment-box {
  width: 500px;
  margin-bottom: 4px;
  position: relative;
}

.comment-box p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #282828;
  font-weight: 100;
}

.edit-form {
  position: absolute;
  top: 0px;
  right: 0px;
}

.edit-form button {
  width: 55px;
  height: 25px;
  color: #282828;
  background-color: #fff;
  opacity: 0,5;
  border: none;
}

.edit-form button:hover {
  opacity: 1;
}