body{
    background-image: url(./pictures/jake-hills-theater.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    margin-left: 25px;
    margin-right: 25px;

    }
  
  h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: wheat;
    position: relative;
    padding-top: 200px;
    
  }
  
  h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: wheat;
  }
  
  #films{
    color: wheat;
    text-align: center;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  }
  
  form{
    border-radius: 10px;
    border: 2px solid white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    margin:auto;
    background-image: black;
  }
  
  form div{
    margin-bottom: 5px;
  }
  
  label{
  display: inline-block;
  width: 100px;
  color:rgb(185, 172, 172);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  }
  
  form input[type=submit]{
    margin-top: 10px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  
  }
  
  .active{
    background-color: blue;
    color:white;
  }