html, body {
    background: url(pictures/jake-hills-theater.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.active {
    background-color: crimson;
    color: white;
}



.navbar {
    padding-left: 15px;
    padding-right: 15px;
}

#logo {
    width: 60px;
    display: flex;

}


ul,
p {
    margin: 0;
}
#searchbar{
    margin: 0 auto;
    width: 80vw;
    opacity: 0.8;
}

.searchbar button {
    background: none;
    border: none;
    padding: 0;
    outline: inherit;
}

.searchbar {
    /* margin-top: 20px; */
    height: 50px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 5px;
}

.search_label {
    color: white;
    padding: 0 10px;
    line-height: 40px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 60%;
    caret-color: transparent;
    line-height: 40px;
}

.searchbar:hover>.search_input {
    /* padding: 0 10px; */
    caret-color: red;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}