
html, body { 
  background: url(./pictures/jake-hills-theater.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: wheat;
  position: relative;
  padding-top: 200px;

}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: wheat;
}

#films {
  color: wheat;
  text-align: center;
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


label {
  display: inline-block;
  width: 100px;
  color: rgb(185, 172, 172);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.active {
  background-color: crimson;
  color: white;
}

.navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.errors {
  text-align: center;
}

#logo {
  width: 60px;
   display: flex;
 
}


.card {
opacity: 0.8;
display: flex;

}

.video {
  /*margin: auto;*/
  display: flex;
  flex-direction: coulumn;
 /* justify-content: center;*/
 align-items: center;
}

.vid {
  display: flex;
  align-items: center;
  flex-direction: column;
}

