body,
html {
  background: url(https://images.unsplash.com/photo-1503095396549-807759245b35?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}


h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: wheat;
  position: relative;
  padding-top: 200px;

}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: wheat;
}

#films {
  color: wheat;
  text-align: center;
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.active {
  background-color: crimson;
  color: white;
}

.navbar {
  padding: 0;
}

#logo {
  width: 60px;
  display: flex;

}

#logo {
  width: 60px;
   display: flex;
 
}


.card {
opacity: 0.8;
display: flex;

}

.video {
  /*margin: auto;*/
  display: flex;
  flex-direction: column;
 /* justify-content: center;*/
 align-items: center;
}

.vid {
  display: flex;
  align-items: center;
  flex-direction: column;
}


