
html, body { 
  background: url(./pictures/jake-hills-theater.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: wheat;
  position: relative;
  padding-top: 200px;

}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: wheat;
}

#films {
  color: wheat;
  text-align: center;
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.active {
  background-color: crimson;
  color: white;
}

.navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.errors {
  text-align: center;
}

#logo {
  width: 60px;
   display: flex;
 
}


.card {
opacity: 0.8;
display: flex;

}

.video {
  /*margin: auto;*/
  display: flex;
  flex-direction: column;
 /* justify-content: center;*/
 align-items: center;
}

.vid {
  display: flex;
  align-items: center;
  flex-direction: column;
}


ul,
p {
    margin: 0;
}

.card {
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: 600ms -webkit-filter linear, transform 300ms;
    -moz-transition: 600ms -moz-filter linear, transform 300ms;
    -moz-transition: 600ms filter linear, transform 300ms;
    -ms-transition: 600ms -ms-filter linear, transform 300ms;
    -o-transition: 600ms -o-filter linear, transform 300ms;
    transition: 600ms filter linear, 300ms -webkit-filter linear, transform 300ms;
}

.card:hover {
    filter: grayscale(70%) brightness(150%);
    -webkit-filter: grayscale(70%) brightness(150%);
    transform: scale(1.03);
}


.searchbar button {
    background: none;
    border: none;
    padding: 0;
    outline: inherit;
}

.searchbar {
    margin-top: 20px;
    height: 50px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 5px;
}

.search_label {
    color: white;
    padding: 0 10px;
    line-height: 40px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 300px;
    caret-color: red;
    transition: width 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

.row-cols-5>* {
    max-width: 19%;
}

.card {
    min-height: 100%;
    max-height: 100%;
}

#filters ul {
    padding: 0;
}

#filters li {
    display: inline;
    list-style: none;
    /* pour enlever les puces sur IE7 */
    /* margin: 2.5px; */
    margin-bottom: 15px;
}

#filters button {
    color: white;
    background-color: #353b48;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 2.5px;
    border: none;
}

#filters button:hover {
    background-color: #555c6b;
}

#filters button.active {
    background-color: #973535;
}

#filters button.active:hover {
    color: white;
    background-color: #c24e4e;
}

#switch {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    /* background-color: #363636; */
    /* border-radius: 10px; */
}

#switch_ctrl {
    margin-right: 20px;
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
    overflow: hidden;
}

#switch_ctrl:first-child {
    padding-left: 10px;
}

#switch_ctrl button {
    color: black;
    background-color: rgb(119, 119, 119);
    border-radius: 0px;
    border-left: solid rgb(48, 48, 48) 3px;
    margin: 0px;
}

#switch_ctrl button.active {
    color: white;
    background-color: #973535;
}

#switch_ctrl button.active:hover {
    color: white;
    background-color: #c24e4e;
}

#result {
    margin-bottom: 20px;
}

#logo {
    margin-top: 20px;
    max-width: 70px;
}


.active {
  background-color: crimson;
  color: white;
}



.navbar {
  padding-left: 15px;
  padding-right: 15px;
}

#logo {
  width: 60px;
  display: flex;

}


ul,
p {
  margin: 0;
}
#searchbar{
  margin: 0 auto;
  width: 80vw;
  opacity: 0.8;
}

.searchbar button {
  background: none;
  border: none;
  padding: 0;
  outline: inherit;
}

.searchbar {
  /* margin-top: 20px; */
  height: 50px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 5px;
}

.search_label {
  color: white;
  padding: 0 10px;
  line-height: 40px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 60%;
  caret-color: transparent;
  line-height: 40px;
}

.searchbar:hover>.search_input {
  /* padding: 0 10px; */
  caret-color: red;
}

.searchbar:hover>.search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}



